// The original clrs palette (http://clrs.cc/)

$navy:    #001f3f !default;
$blue:    #0074d9 !default;
$aqua:    #7fdbff !default;
$teal:    #39cccc !default;
$olive:   #3d9970 !default;
$green:   #2ecc40 !default;
$lime:    #01ff70 !default;
$yellow:  #ffdc00 !default;
$orange:  #ff851b !default;
$red:     #ff4136 !default;
$maroon:  #85144b !default;
$fuchsia: #f012be !default;
$purple:  #b10dc9 !default;
$black:   #111111 !default;
$gray:    #aaaaaa !default;
$silver:  #dddddd !default;
$white:   #ffffff !default;
